In [1]:
#Dependencies
import pandas as pd
import numpy as np
from scipy.io import arff

In the EDA, it is seen that the amount of Cement, Superplaticizer and Age affected the strength of concrete most strongly.\
Ratios of these materials to water are possible avenues for feature engineering.

In [2]:
arff_file = arff.loadarff('/workspaces/2025SE-Mike.N-HSC-AT2/data/cement.arff')
X_full = pd.DataFrame(arff_file[0])

In [3]:
X_full.describe()

,cement,blast_furnace_slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age,strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.165631,73.895485,54.187136,181.566359,6.203112,972.918592,773.578883,45.662136,35.817836
std,104.507142,86.279104,63.996469,21.355567,5.973492,77.753818,80.175427,63.169912,16.705679
min,102.000000,0.000000,0.000000,121.750000,0.000000,801.000000,594.000000,1.000000,2.331808
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.707115
50%,272.900000,22.000000,0.000000,185.000000,6.350000,968.000000,779.510000,28.000000,34.442774
75%,350.000000,142.950000,118.270000,192.000000,10.160000,1029.400000,824.000000,56.000000,46.136287
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.599225

In [4]:
X_full['cement_to_water_ratio'] = X_full['cement'] / X_full['water']
X_full['fine_aggregate_to_water_ratio'] = X_full['fine_aggregate'] / X_full['water']
X_full['coarse_aggregate_to_water_ratio'] = X_full['coarse_aggregate'] / X_full['water']

These pairs of features have high correlation, shown in the EDA step.

In [5]:
X_full.describe()

,cement,blast_furnace_slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age,strength,cement_to_water_ratio,fine_aggregate_to_water_ratio,coarse_aggregate_to_water_ratio
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.165631,73.895485,54.187136,181.566359,6.203112,972.918592,773.578883,45.662136,35.817836,1.578275,4.344763,5.443181
std,104.507142,86.279104,63.996469,21.355567,5.973492,77.753818,80.175427,63.169912,16.705679,0.648105,0.824908,0.842966
min,102.000000,0.000000,0.000000,121.750000,0.000000,801.000000,594.000000,1.000000,2.331808,0.531250,2.605263,3.453441
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.707115,1.069502,3.888350,4.830208
50%,272.900000,22.000000,0.000000,185.000000,6.350000,968.000000,779.510000,28.000000,34.442774,1.480718,4.299479,5.451804
75%,350.000000,142.950000,118.270000,192.000000,10.160000,1029.400000,824.000000,56.000000,46.136287,1.875000,4.791273,5.974522
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.599225,3.746827,7.840442,8.695688

0s causing some of the ratios to be inf or -inf. We impute these values with 0s.

In [6]:
X_full.replace([np.inf, -np.inf], 0, inplace=True)

In [7]:
X_full.describe()

,cement,blast_furnace_slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age,strength,cement_to_water_ratio,fine_aggregate_to_water_ratio,coarse_aggregate_to_water_ratio
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.165631,73.895485,54.187136,181.566359,6.203112,972.918592,773.578883,45.662136,35.817836,1.578275,4.344763,5.443181
std,104.507142,86.279104,63.996469,21.355567,5.973492,77.753818,80.175427,63.169912,16.705679,0.648105,0.824908,0.842966
min,102.000000,0.000000,0.000000,121.750000,0.000000,801.000000,594.000000,1.000000,2.331808,0.531250,2.605263,3.453441
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.707115,1.069502,3.888350,4.830208
50%,272.900000,22.000000,0.000000,185.000000,6.350000,968.000000,779.510000,28.000000,34.442774,1.480718,4.299479,5.451804
75%,350.000000,142.950000,118.270000,192.000000,10.160000,1029.400000,824.000000,56.000000,46.136287,1.875000,4.791273,5.974522
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.599225,3.746827,7.840442,8.695688

In [8]:
X_full.shape

(1030, 12)

In [9]:
# Export the data
X_full.to_csv('/workspaces/2025SE-Mike.N-HSC-AT2/data/concrete_engineered.csv', index=False)